* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

.modal-container {
    background-color: black;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal-item {
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;
}

.header-container {
    background-color: black;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 50px;
    margin: 0 auto;
}

.header-title {
    font-size: 14pt;
    font-weight: normal;
}

.header-nav {
    font-size: 10pt;
    width: 30%;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-menu a {
    color: white;
}

.main-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}

.main-item {
    margin-bottom: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
    color: gray;
}

.info-autor {
    font-weight: bold;
}

.main-title {
    font-size: 20pt;
    line-height: 24pt;
}

.main-container p {
    margin: 30px 0;
    line-height: 16pt;
}

.footer-container {
    border-top: 1px solid lightgray;
    height: 50px;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 50px;
    margin: 0 auto;
    font-size: 10pt;
}

.copyright {
    color: gray;
}

.footer-nav {
    width: 30%;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu a {
    color: gray;
}