body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 50px;
    grid-template-areas: "header header" "main aside" "footer footer";
    gap: 5px;
}

.item {
    background: #89ece1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item--header {
    grid-area: header;
}

.item--main {
    grid-area: main;
}

.item--aside {
    grid-area: aside;
}

.item--footer {
    grid-area: footer;
}