.background--1 {
    background-color: darkseagreen;
}

.background--2 {
    background-color: darksalmon;
}

.background--3 {
    background-color: lightblue;
}

.background--4 {
    background-color: plum;
}

.background--5 {
    background-color: silver;
}